<header>
  <h1>Bienvenue sur mon premier Projet Angular</h1>
</header>

<main>
  <section>
      <h2>À propos de moi</h2>
      <p>Bonjour ! Je m'appelle EL ANSARI Jaafar et j'apprends Angular. Voici un peu plus sur moi.</p>
  </section>

  <section>
      <h2>Mes intérêts</h2>
      <ul>
          <li>Développement de logiciels</li>
          <li>Jeux vidéo</li>
          <li>Lecture</li>
          <li>Voyages</li>
      </ul>
  </section>
</main>

<footer>
  <p>&copy; 2024 EL ANSARI Jaafar</p>
</footer>
